extends base

block content
  main.main
    .sign-up-form
      h2.heading-secondary.ma-bt-lg Sign up to create an account
      form.form.form--sign-up
        .form__group
          label.form__label(for='name') Name
          input#name.form__input(type='text', placeholder='Enter Your Name', required)
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='passwordConfirm') Confirm Your Password
          input#password_confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--green Sign Up
